<!DOCTYPE html>
<html>
<head>
  <title>membio</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://#{SERVER_IP}:9292/getting-started/faye.js" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=619983574715127";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= yield %>

<script>
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.min.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>

</body>
<footer>
  <div id="footer-text">made with ♥ by <a href="https://twitter.com/loganhasson" target="_blank">@loganhasson</a> in nyc.</div>
  <div id="social-share">
  <span id="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://memb.io" data-text="Check out membio! -- simple to-do lists via sms" data-dnt="true">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </span>
  <div class="fb-like" data-href="https://www.facebook.com/membio" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
  
  <span id="reddit">
    <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
  </span>

  <span id="hacker-news">
    <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
  </span>

</div>
</footer>
</html>
